#button{
    height: 5vh;
    width: 10vw;
    border-radius: 5px;
    font-weight: 300;
    font-size: 1.5vh;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}